.row {
  lost-utility: clearfix;
}

.semaphore {
  lost-column: 1/3 10px;
  text-align: center;
}

.red-light {
  @extend .semaphore;
  background-color: red;
  color: white;
}

.yellow-light {
  @extend .semaphore;
  background-color: yellow;
}

.green-light {
  @extend .semaphore;
  background-color: green;
  color: white;
}
